<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Solocon V.1 Settings</title>
</head>
<body>

<h1>Sickrage Options:</h1>
<form action="#" th:action="@{/settings}" th:object="${sickrage}" method="post">
    <input type="text" th:field="*{name}" placeholder="Nickname" th:value="${nickname}">
    http://<input type="text" th:field="*{hostname}" placeholder="Hostname/IP Address" th:value="${hostname}">
    <input type="text" th:field="*{port}" placeholder="Port" th:value="${port}">
    <input type="text" th:field="*{apikey}" placeholder="API Key" th:value="${apikey}">
    <input type="submit" value="Submit">
</form>

</body>
</html>